<section id="faq" class="faq">
  <div class="container">
    <div class="faq-wrap">
      <h3 class="faq-title">FAQ</h3>

      <div class="faq-wrap-two">
        <div class="faq-wrap-parag">
          <div class="faq-parag-dop">
            <p class="faq-text-parag">Is the game free to play?</p>
            <img
              class="faq-text-img"
              src="./img/fag-icon.png"
              alt="Image faq"
            />
          </div>

          <p class="faq-text-content">
            Yes, Rolling Sky Ball is free with optional in-app purchases.
          </p>
        </div>

        <div class="faq-wrap-parag">
          <div class="faq-parag-dop">
            <p class="faq-text-parag">Is it available offline?</p>
            <img
              class="faq-text-img"
              src="./img/fag-icon.png"
              alt="Image faq"
            />
          </div>

          <p class="faq-text-content">
            Yes, you can play offline, though some features require an internet
            connection.
          </p>
        </div>

        <div class="faq-wrap-parag">
          <div class="faq-parag-dop">
            <p class="faq-text-parag">What devices are supported?</p>
            <img
              class="faq-text-img"
              src="./img/fag-icon.png"
              alt="Image faq"
            />
          </div>

          <p class="faq-text-content">
            Available on Android devices via Google Play.
          </p>
        </div>

        <div class="faq-wrap-parag">
          <div class="faq-parag-dop">
            <p class="faq-text-parag">Is the music original?</p>
            <img
              class="faq-text-img"
              src="./img/fag-icon.png"
              alt="Image faq"
            />
          </div>

          <p class="faq-text-content">
            Yes, the game features a curated mix of original and themed tracks.
          </p>
        </div>

        <div class="faq-wrap-parag">
          <div class="faq-parag-dop">
            <p class="faq-text-parag">Can I customize my ball?</p>
            <img
              class="faq-text-img"
              src="./img/fag-icon.png"
              alt="Image faq"
            />
          </div>

          <p class="faq-text-content">
            Unlock a variety of colorful balls as you progress.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
