<section id="game-a" class="howgame-a">
  <div class="container">
    <div class="howgame-a-wrap">
      <h3 class="howgame-a-title">Game atmosphere</h3>

      <div class="howgame-a-text-mob">
        <p class="howgame-a-text">
          Experience an exhilarating mix of color, music, and momentum. Rolling
          Sky Ball brings vibrant visuals and a pulse-pounding soundtrack
          together in perfect harmony. Each level introduces a new sonic and
          visual theme, from dreamy landscapes to cosmic tracks. Whether you’re
          casually vibing or going for a perfect run, the energy never stops.
        </p>
      </div>

      <div class="howgame-a-text-desk">
        <p class="howgame-a-text">
          Experience an exhilarating mix of color, music, and momentum.
        </p>
        <p class="howgame-a-text">
          Rolling Sky Ball brings vibrant visuals and a pulse-pounding
          soundtrack together in perfect harmony.
        </p>
        <p class="howgame-a-text">
          Each level introduces a new sonic and visual theme, from dreamy
          landscapes to cosmic tracks.
        </p>
        <p class="howgame-a-text">
          Whether you’re casually vibing or going for a perfect run, the energy
          never stops.
        </p>
      </div>
    </div>
  </div>
</section>
