<section id="game" class="game">
  <div class="container">
    <div class="game-wrap">
      <h3 class="game-title">Game Features</h3>

      <div class="game-wrap-content swiper gameSwiper">
        <div class="swiper-wrapper">
          <div class="game-card swiper-slide">
            <div class="game-wrap-dop-num">
              <p class="game-wrap-num num1">01</p>
              <p class="game-wrap-text">Rhythm-Based Gameplay</p>
            </div>

            <p class="game-wrap-descrip">
              Move to the music in a dance of reflexes.
            </p>
          </div>

          <div class="game-card swiper-slide">
            <div class="game-wrap-dop-num">
              <p class="game-wrap-num num2">02</p>
              <p class="game-wrap-text">Colorful Worlds</p>
            </div>

            <p class="game-wrap-descrip">
              Travel through stunning environments with dynamic themes.
            </p>
          </div>

          <div class="game-card swiper-slide">
            <div class="game-wrap-dop-num">
              <p class="game-wrap-num num3">03</p>
              <p class="game-wrap-text">Challenging Obstacles</p>
            </div>

            <p class="game-wrap-descrip">
              Avoid tricky traps that test your skill and focus.
            </p>
          </div>

          <div class="game-card swiper-slide">
            <div class="game-wrap-dop-num">
              <p class="game-wrap-num num4">04</p>
              <p class="game-wrap-text">Unlock New Balls</p>
            </div>

            <p class="game-wrap-descrip">
              Choose from a variety of vibrant, rolling spheres.
            </p>
          </div>

          <div class="game-card swiper-slide">
            <div class="game-wrap-dop-num">
              <p class="game-wrap-num num5">05</p>
              <p class="game-wrap-text">Global Leaderboards</p>
            </div>

            <p class="game-wrap-descrip">Compete with players worldwide.</p>
          </div>

          <div class="game-card swiper-slide">
            <div class="game-wrap-dop-num">
              <p class="game-wrap-num num6">06</p>
              <p class="game-wrap-text">Musical Variety</p>
            </div>

            <p class="game-wrap-descrip">
              Piano, jungle, and more genres to groove with.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
