<section class="hero">
  <div class="hero-wrap-dop">
    <div class="hero-wrap-content">
      <h1 class="hero-wrap-title-desk">Rolling Sky Ball</h1>

      <div class="hero-h1">
        <h1 class="hero-wrap-title-one">Rolling</h1>
        <h1 class="hero-wrap-title-two">Sky Ball</h1>
      </div>

      <p class="hero-wrap-text-one">Challenge Your Reflexes!</p>
      <p class="hero-wrap-text-two">
        Roll, dodge, and dance to the rhythm in this high-speed musical journey!
      </p>
    </div>

    <a href="#" class="hero-btn">
      <img class="hero-btn-img" src="./img/play.png" alt="Google play" />
      <div class="hero-btn-text">
        <p class="hero-btn-text-one">Play now on</p>
        <p class="hero-btn-text-two">Google Play</p>
      </div>
    </a>
  </div>
</section>
