<section id="how" class="how">
  <div class="container">
    <div class="how-wrap">
      <h3 class="how-title">How to play</h3>

      <div class="how-wrap-content-mob">
        <div class="how-card dop1">
          <p class="how-card-title">Follow the Rhythm</p>
          <img
            class="how-card-img"
            src="./img/how/how-slice1-mob.png"
            alt="Image how to play"
          />
          <p class="how-card-text">Let the beat guide your moves.</p>
        </div>

        <div class="how-card dop2">
          <p class="how-card-title">Swipe to Move</p>
          <img
            class="how-card-img"
            src="./img/how/how-slice2-mob.png"
            alt="Image how to play"
          />
          <p class="how-card-text">
            Control your ball by dragging left or right.
          </p>
        </div>

        <div class="how-card dop3">
          <p class="how-card-title">Hit Checkpoints</p>
          <img
            class="how-card-img"
            src="./img/how/how-slice3-mob.png"
            alt="Image how to play"
          />
          <p class="how-card-text">Reach milestones and unlock levels.</p>
        </div>

        <div class="how-card dop4">
          <p class="how-card-title">Hit Checkpoints</p>
          <img
            class="how-card-img"
            src="./img/how/how-slice4-mob.png"
            alt="Image how to play"
          />
          <p class="how-card-text">Reach milestones and unlock levels.</p>
        </div>

        <div class="how-card dop5">
          <p class="how-card-title">Dodge Obstacles</p>
          <img
            class="how-card-img"
            src="./img/how/how-slice5-mob.png"
            alt="Image how to play"
          />
          <p class="how-card-text">Avoid traps and barriers in your path.</p>
        </div>
      </div>

      <div class="how-wrap-content-desk">
        <div class="how-card-wrap-one">
          <div class="how-card-desk-one dop1">
            <p class="how-card-title-desk">Follow the Rhythm</p>
            <img
              class="how-card-img-desk"
              src="./img/how/how-slice1-desk.png"
              alt="Image how to play"
            />
            <p class="how-card-text-desk">Let the beat guide your moves.</p>
          </div>

          <div class="how-card-desk-one dop2">
            <p class="how-card-title-desk">Swipe to Move</p>
            <img
              class="how-card-img-desk"
              src="./img/how/how-slice2-desk.png"
              alt="Image how to play"
            />
            <p class="how-card-text-desk">
              Control your ball by dragging left or right.
            </p>
          </div>

          <div class="how-card-desk-one dop3">
            <p class="how-card-title-desk">Hit Checkpoints</p>
            <img
              class="how-card-img-desk"
              src="./img/how/how-slice3-desk.png"
              alt="Image how to play"
            />
            <p class="how-card-text-desk">
              Reach milestones and unlock levels.
            </p>
          </div>
        </div>

        <div class="how-card-wrap-two">
          <div class="how-card-desk-two dop4">
            <p class="how-card-title-desk">Hit Checkpoints</p>
            <img
              class="how-card-img-desk"
              src="./img/how/how-slice4-desk.png"
              alt="Image how to play"
            />
            <p class="how-card-text-desk">
              Reach milestones and unlock levels.
            </p>
          </div>

          <div class="how-card-desk-two dop5">
            <p class="how-card-title-desk">Dodge Obstacles</p>
            <img
              class="how-card-img-desk"
              src="./img/how/how-slice5-desk.png"
              alt="Image how to play"
            />
            <p class="how-card-text-desk">
              Avoid traps and barriers in your path.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
