<div id="modal" class="backdrop is-hidden" data-backdrop>
  <div class="modal">
    <div class="modal-header">
      <button type="button" class="back-button is-hidden" data-modal-close>
        <img
          width="24"
          height="24"
          src="./img/close.png"
          alt="burger-button"
          class="back-img"
        />
      </button>
    </div>

    <nav class="modal-nav is-hidden" data-modal>
      <ul class="modal-nav-list">
        <li class="modal-nav-item">
          <a href="/" class="modal-nav-link">Home</a>
        </li>

        <li class="modal-nav-item">
          <a href="#about" class="modal-nav-link">About the Game</a>
        </li>

        <li class="modal-nav-item">
          <a href="#game" class="modal-nav-link">Game Features</a>
        </li>

        <li class="modal-nav-item">
          <a href="#how" class="modal-nav-link">How to Play</a>
        </li>

        <li class="modal-nav-item">
          <a href="#game-a" class="modal-nav-link">Game Atmosphere</a>
        </li>

        <li class="modal-nav-item">
          <a href="#reviews" class="modal-nav-link">Reviews</a>
        </li>

        <li class="modal-nav-item">
          <a href="#faq" class="modal-nav-link">FAQ</a>
        </li>

        <li class="modal-nav-item">
          <a href="./cookies.html" class="modal-nav-link">Cookies Policy</a>
        </li>

        <li class="modal-nav-item">
          <a href="./privacy-policy.html" class="modal-nav-link"
            >Privacy Policy</a
          >
        </li>

        <li class="modal-nav-item">
          <a href="./terms.html" class="modal-nav-link">Terms and Conditions</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
