<section id="reviews" class="reviews">
  <div class="container">
    <div class="reviews-wrap">
      <h3 class="reviews-title">Reviews</h3>

      <div class="reviews-wrap-content swiper reviewsSwiper">
        <div class="swiper-wrapper">
          <div class="reviews-card swiper-slide">
            <img
              class="reviews-card-img"
              src="./img/reviews/rev-five.png"
              alt="Image stars"
            />
            <p class="reviews-card-text">
              Fast, fun, and surprisingly challenging. I can’t stop playing!
            </p>
            <p class="reviews-card-name">Liam Walker</p>
          </div>

          <div class="reviews-card swiper-slide">
            <img
              class="reviews-card-img"
              src="./img/reviews/rev-four.png"
              alt="Image stars"
            />
            <p class="reviews-card-text">
              The music is amazing and the gameplay keeps my reflexes sharp!
            </p>
            <p class="reviews-card-name">Ava Nguyen</p>
          </div>

          <div class="reviews-card swiper-slide">
            <img
              class="reviews-card-img"
              src="./img/reviews/rev-five.png"
              alt="Image stars"
            />
            <p class="reviews-card-text">
              Great stress reliever and time killer. The visuals are beautiful!
            </p>
            <p class="reviews-card-name">Oliver Martinez</p>
          </div>

          <div class="reviews-card swiper-slide">
            <img
              class="reviews-card-img"
              src="./img/reviews/rev-four.png"
              alt="Image stars"
            />
            <p class="reviews-card-text">
              I love unlocking new balls and levels. Addictive in the best way.
            </p>
            <p class="reviews-card-name">Sophia Evans</p>
          </div>

          <div class="reviews-card swiper-slide">
            <img
              class="reviews-card-img"
              src="./img/reviews/rev-three.png"
              alt="Image stars"
            />
            <p class="reviews-card-text">
              If you like rhythm games with a challenge, this is for you.
            </p>
            <p class="reviews-card-name">Noah Brooks</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
