@import './common/vars';

.footer {
  background: $_black;
  width: 100%;
}

.footer-wrap {
  display: flex;
  flex-direction: column;
  padding-top: 64px;
  padding-bottom: 32px;
}

.footer-wrap-content {
  margin-left: auto;
  margin-right: auto;
  width: 343px;
  border-bottom: 1px solid #4e5255;
}

.footer-wrap-content-title {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
  text-transform: uppercase;
  padding-bottom: 16px;
}

.footer-wrap-content-text {
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1;
  text-transform: uppercase;
  padding-bottom: 32px;
}

.footer-btn {
  all: unset;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 176px;
  height: 60px;
  background: #191f26;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.footer-btn-img {
  width: 28px;
  height: 28px;
  padding-left: 16px;
}

.footer-btn-text-one {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}

.footer-btn-text-two {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.42;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 32px;
  padding-bottom: 24px;
  padding-left: 16px;
  width: 375px;
  margin-left: auto;
  margin-right: auto;
}

.footer-nav-item {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 1;
}

.footer-text-wrap {
  display: flex;
  flex-direction: column;
}

.footer-text {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  width: 375px;
}

@media screen and (min-width: 1440px) {
  .footer {
    background: $_black;
    width: 100%;
  }

  .footer-wrap {
    padding-top: 104px;
    padding-bottom: 60px;
  }

  .footer-wrap-content {
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .footer-wrap-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-nav-list {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 32px;
    padding-left: 564px;
    width: 1440px;
    order: 2;
  }

  .footer-text-wrap {
    display: flex;
  }

  .footer-text {
    padding-left: 0;
    width: 300px;
  }
}
